.container {
    max-width: 1068px;
    margin: auto;
    padding: 15px;
    width: 100%;
}
.mainDisplay {
    position: relative;
    min-height: 540px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 4rem;
}
.timerBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    height: 150px;
    width: 60%;
    padding: 20px;
    column-gap: 40px;

    border-color: azure;
    border-style: solid;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}
.timerBox-text {
    position: relative;
    font-size: 18px;
    font-weight: 400;
    margin-top: 4rem;
}
.timerBox-number {
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 64px;
    font-weight: 900;
}
.icondisplay {
    position: relative;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 6px;
    padding: 12px;
}


/* Font size and style */
.firstText {
    font-weight: 900;
}
.secondText {
    margin-top: -0.5rem;
    font-weight: 400;
}
.thirdText {
    font-size: 64px;
    column-gap: 12px;
}
.timerBox-colon {
    font-size: 48px;
}

/* Buttons */

.icondisplay a {
    color: azure;
}
.icondisplay a:hover {
    color: grey;
}

/* Breakpoints */
@media (max-width: 800px) {
    .container {
        max-width: 600px;
    }
    .timerBox {
        height: 350px;
        width: 280px;
    }
    #middle-colon {
        display: none;
    }
}
@media (max-width: 600px) {
    .container {
        max-width: 500px;
    }
}